<nav class="bg-blue-500">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" (click)="toggleMobileMenu()" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-blue-300 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg *ngIf="!isMobileMenuOpen" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg *ngIf="isMobileMenuOpen" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img src="assets/image/logo.svg" class="text-red-500" width="45" height="45" alt="">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">

            <div class="relative">
              <button (click)="toggleDropdown('workspace')" class="dropdown-toggle flex items-center space-x-1 rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-300 hover:text-white">
                <span>Workspace</span>
                <i class="fas fa-chevron-down text-xs"></i>
              </button>
              <div
                class="dropdown-menu absolute left-0 mt-2 w-60 bg-white rounded-md shadow-lg z-10"
                [@fadeInOut]
                *ngIf="showWorkspaceMenu"
                ohCloseOnClickOutside
                (clickOutside)="showWorkspaceMenu = false"
              >
                <div class="px-4 py-2 text-xs font-semibold text-gray-500 uppercase">Your Workspace</div>
                <a class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                  <i class="fas fa-briefcase mr-2 text-blue-500"></i>
                  {{email}}
                </a>
              </div>
            </div>

            <div class="relative">
              <button (click)="toggleDropdown('recent')" class="dropdown-toggle flex items-center space-x-1 rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-300 hover:text-white">
                <span>Recent</span>
                <i class="fas fa-chevron-down text-xs"></i>
              </button>
              <div
                class="dropdown-menu absolute left-0 mt-2 w-60 bg-white rounded-md shadow-lg z-10"
                [@fadeInOut]
                *ngIf="showRecentMenu"
                ohCloseOnClickOutside
                (clickOutside)="showRecentMenu = false"
              >
                <div class="px-4 py-2 text-xs font-bold text-gray-500 uppercase">Prueba</div>
                <a class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                  <i class="fas fa-briefcase mr-2 text-orange-600"></i>
                  {{email}}
                </a>
              </div>
            </div>

            <div class="relative">
              <button (click)="toggleDropdown('crear')" class="dropdown-toggle flex items-center space-x-1 rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-300 hover:text-white">
                <span>Crear</span>
                <i class="fas fa-chevron-down text-xs"></i>
              </button>
              <div
                class="dropdown-menu absolute left-0 mt-2 w-60 bg-white rounded-md shadow-lg z-10"
                [@fadeInOut]
                *ngIf="showCrearMenu"
                ohCloseOnClickOutside
                (clickOutside)="showCrearMenu = false"
              >
                <div class="px-4 py-2 text-xs font-bold text-gray-500 uppercase">create bew board</div>
                <a class="flex flex-col items-stretch px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                  <input
                    type="text"
                    class="w-full px-4 py-2 mb-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400"
                    placeholder="Ingrese el título"
                  />
                  <div>
                    <button class="w-full py-2 text-white bg-blue-600 rounded-lg transition hover:bg-blue-700">
                      Crear board
                    </button>
                  </div>

                  <div class="flex gap-4 mt-4">
                    <div class="w-10 h-10 bg-cyan-400 rounded-md"></div>
                    <div class="w-10 h-10 bg-green-400 rounded-md"></div>
                    <div class="w-10 h-10 bg-purple-400 rounded-md"></div>
                    <div class="w-10 h-10 bg-yellow-400 rounded-md"></div>
                  </div>
                </a>
              </div>
            </div>
            <a class="rounded-md bg-blue-300 px-3 py-2 text-sm font-medium text-white hover:cursor-pointer">Prueba</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="relative ml-3" ohCloseOnClickOutside (clickOutside)="closeMenu()">
          <div>
            <button
              type="button"
              (click)="toggleMenu()"
              class="relative flex rounded-full bg-blue-500 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img
                class="size-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
            </button>
          </div>

          <div *ngIf="isMenuOpen" @fadeInOut class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5"
          >
            <a class="block px-4 py-2 text-sm bg-white hover:cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-0">Dashboard</a>
            <a class="block px-4 py-2 text-sm bg-white hover:cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-2">Settings</a>
            <a class="block px-4 py-2 text-sm bg-white hover:cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-1">Earnings</a>
            <a class="block px-4 py-2 text-sm bg-white hover:cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-3" (click)="signOut()">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:hidden" [ngClass]="{'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen}" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a class="block rounded-md bg-blue-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Workspace</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-blue-500 hover:text-white">Recent</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-blue-500 hover:text-white">Crear</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-blue-500 hover:text-white">Prueba</a>
    </div>
  </div>
</nav>
